## Section 1 - Multivariate Statistics

In [275]:
import numpy as np
import pandas as pd
from scipy.stats.mstats import winsorize
from scipy.stats import pearsonr
#Generate data
data = pd.DataFrame(columns=['v1','v2'])
data[v1] = np.random.normal(0,1,5000)
data[v2] = np.random.normal(0,1,5000)

def impose(c):
    x=0
    while x<1:
        variable_1 = winsorize(variable_1,limits=[x,x])
        correlation = pearsonr(variable_1,variable_2)
        if correlation > c-0.005 and correlation < c+0.005
            return correlation
        else x=x + 0.001
    return x

impose(0.5)

SyntaxError: expected ':' (1789970307.py, line 15)

## Section 2 – Investment/Total Fund is in word document

## Section 3 - Data

In [28]:
import pandas as pd
import numpy as np

### 5.

In [15]:
df1=pd.DataFrame({'Date':['2019-12-31','2020-01-02','2020-01-03','2020-01-06'],'Close':[323.80,3257.85,3234.85,3246.28]})

In [16]:
df1.set_index('Date', inplace=True)

In [17]:
df1

              Close
Date
2019-12-31   323.80
2020-01-02  3257.85
2020-01-03  3234.85
2020-01-06  3246.28

In [5]:
df2=pd.DataFrame({'Date':['2019-12-31','2020-01-01','2020-01-02','2020-01-03','2020-01-06'],'Close':[1.30606,1.3002,1.2973,1.2983,1.29866]})

In [18]:
df2.set_index('Date', inplace=True)

In [19]:
df2

              Close
Date
2019-12-31  1.30606
2020-01-01  1.30020
2020-01-02  1.29730
2020-01-03  1.29830
2020-01-06  1.29866

In [20]:
result = pd.concat([df1, df2], axis=1, join="inner")

In [21]:
result

              Close    Close
Date
2019-12-31   323.80  1.30606
2020-01-02  3257.85  1.29730
2020-01-03  3234.85  1.29830
2020-01-06  3246.28  1.29866

### 6.

In [29]:
df6=pd.DataFrame({'Date':['2023-10-27','2023-10-30','2023-10-31','2023-11-07','2023-11-13','2023-11-10,','2023-11-06'],
                  'Portfolio':['FICA','FICA','FICA','FICA','FICA','FICA','FICA'],
                 'MV':[67454088,89304605,113449488,185055847,182724762,182731405,183099003],
                 'DV01':[158800,230212,252102,404225,398461,398644,399745],
                 'DV01 Convexity':[np.nan,np.nan,np.nan,1042,1029,1029,1032]})

In [30]:
df6

          Date Portfolio         MV    DV01  DV01 Convexity
0   2023-10-27      FICA   67454088  158800             NaN
1   2023-10-30      FICA   89304605  230212             NaN
2   2023-10-31      FICA  113449488  252102             NaN
3   2023-11-07      FICA  185055847  404225          1042.0
4   2023-11-13      FICA  182724762  398461          1029.0
5  2023-11-10,      FICA  182731405  398644          1029.0
6   2023-11-06      FICA  183099003  399745          1032.0

In [31]:
df6['DV01 Convexity']=df6['DV01 Convexity'].fillna(df6['DV01 Convexity'].mean())

In [32]:
df6

          Date Portfolio         MV    DV01  DV01 Convexity
0   2023-10-27      FICA   67454088  158800          1033.0
1   2023-10-30      FICA   89304605  230212          1033.0
2   2023-10-31      FICA  113449488  252102          1033.0
3   2023-11-07      FICA  185055847  404225          1042.0
4   2023-11-13      FICA  182724762  398461          1029.0
5  2023-11-10,      FICA  182731405  398644          1029.0
6   2023-11-06      FICA  183099003  399745          1032.0

### 7.

Data normalization in database design is the process of organizing data within a database to reduce redundancy and dependency, thereby improving data integrity and minimizing anomalies during data manipulation. It involves breaking down a database into smaller, more manageable tables and establishing relationships between them.

Normalization is typically done when there are issues such as data redundancy, update anomalies, and deletion anomalies, which can arise when data is not organized efficiently. After normalization process, data redundancy is minimized, and data integrity is enhanced.

For example we use below script to find duplicate records from table position_analytic to find duplicate records and perform data scrubbing to remove duplicate records:

select effective_date, portflio_ID, security_alias, count(*) as DupeCount 
from position_analytic  
group by effective_date, portflio_ID, security_alias having count(*) >1

## Section 4 - Value-at-Risk

### 8.

In [74]:
import yfinance as yf

# Define the ticker symbol for the S&P 500 index
ticker_symbol = "^GSPC"

# Define the start and end dates for the historical data
start_date = "2023-03-01"
end_date = "2024-03-31"

# Download historical data
sp500_data = yf.download(ticker_symbol, start=start_date, end=end_date)
sp500_data = pd.DataFrame(sp500_data)['Close']
# Print the first few rows of the data
print(sp500_data.head())

[*********************100%%**********************]  1 of 1 completed

Date
2023-03-01    3951.389893
2023-03-02    3981.350098
2023-03-03    4045.639893
2023-03-06    4048.419922
2023-03-07    3986.370117
Name: Close, dtype: float64

In [45]:
# Define the ticker symbol for the  S&P/TSX indices
ticker_symbol = "^GSPTSE"

# Define the start and end dates for the historical data
start_date = "2023-03-01"
end_date = "2024-03-31"

# Download historical data
tsx_data = yf.download(ticker_symbol, start=start_date, end=end_date)
tsx_data = pd.DataFrame(tsx_data)['Close']
# Print the first few rows of the data
print(tsx_data.head())

[*********************100%%**********************]  1 of 1 completed

Date
2023-03-01    20259.800781
2023-03-02    20337.199219
2023-03-03    20581.599609
2023-03-06    20514.800781
2023-03-07    20275.500000
Name: Close, dtype: float64

In [44]:
# Define the ticker symbol for the S&P GSCI Index
ticker_symbol = "^SPGSCI"

# Define the start and end dates for the historical data
start_date = "2023-03-01"
end_date = "2024-03-31"

# Download historical data
gsci_data = yf.download(ticker_symbol, start=start_date, end=end_date)
gsci_data = pd.DataFrame(gsci_data)['Close']
# Print the first few rows of the data
print(gsci_data.head())

[*********************100%%**********************]  1 of 1 completed

Date
2023-03-01    587.869995
2023-03-02    588.119995
2023-03-03    595.849976
2023-03-06    594.239990
2023-03-07    582.010010
Name: Close, dtype: float64

In [43]:
# Define the ticker symbol for the GOLD ETF 
# Here I make a assumption that we will use ETF GLD to calculate for following steps
ticker_symbol = "GLD"

# Define the start and end dates for the historical data
start_date = "2023-03-01"
end_date = "2024-03-31"

# Download historical data
gold_data = yf.download(ticker_symbol, start=start_date, end=end_date)
gold_data = pd.DataFrame(gold_data)['Close']
# Print the first few rows of the data
print(gold_data.head())

[*********************100%%**********************]  1 of 1 completed

Date
2023-03-01    170.759995
2023-03-02    170.660004
2023-03-03    172.490005
2023-03-06    171.619995
2023-03-07    168.619995
Name: Close, dtype: float64

In [46]:
# Define the ticker symbol for US 10Y Treasuries
# Here I make a assumption that we will use ETF IEF as proxy to calculate for following steps
ticker_symbol = "IEF"

# Define the start and end dates for the historical data
start_date = "2023-03-01"
end_date = "2024-03-31"

# Download historical data
ief_data = yf.download(ticker_symbol, start=start_date, end=end_date)
ief_data = pd.DataFrame(ief_data)['Close']
# Print the first few rows of the data
print(ief_data.head())

[*********************100%%**********************]  1 of 1 completed

Date
2023-03-01    94.800003
2023-03-02    94.410004
2023-03-03    95.169998
2023-03-06    95.000000
2023-03-07    95.010002
Name: Close, dtype: float64

In [94]:
ticker_symbol = "^TNX"
yf.download(ticker_symbol, start=start_date, end=end_date)

[*********************100%%**********************]  1 of 1 completed

             Open   High    Low  Close  Adj Close  Volume
Date
2023-03-01  3.940  4.006  3.934  3.994      3.994       0
2023-03-02  4.050  4.091  4.044  4.073      4.073       0
2023-03-03  4.013  4.026  3.962  3.964      3.964       0
2023-03-06  3.905  3.989  3.897  3.983      3.983       0
2023-03-07  3.940  4.007  3.921  3.975      3.975       0
...           ...    ...    ...    ...        ...     ...
2024-03-22  4.220  4.226  4.200  4.218      4.218       0
2024-03-25  4.232  4.261  4.222  4.253      4.253       0
2024-03-26  4.236  4.273  4.232  4.234      4.234       0
2024-03-27  4.220  4.228  4.183  4.196      4.196       0
2024-03-28  4.230  4.234  4.183  4.206      4.206       0

[272 rows x 6 columns]

In [72]:
# Define the ticker symbol for CA 10Y Treasuries

ca_tbond_data = pd.read_csv('C:/Users/Pei/Desktop/VGV Historical Data.csv')

ca_tbond_data=ca_tbond_data[['Date','Price']]
ca_tbond_data.set_index('Date',inplace=True)
# Print the first few rows of the data
print(ca_tbond_data.head())

          Price
Date
3/1/2023  21.90
3/2/2023  21.78
3/3/2023  21.91
3/6/2023  21.99
3/7/2023  21.97

In [91]:
data_total=pd.DataFrame()
data_total['sp500'] = sp500_data
data_total['tsx']=tsx_data
data_total['gsci']=gsci_data
data_total['gold']=gold_data
data_total['us_10y_tbond']=ief_data
# data_total['ca_10y_tbond']=ca_tbond_data[['Price']]
data_total

                  sp500           tsx        gsci        gold  us_10y_tbond
Date
2023-03-01  3951.389893  20259.800781  587.869995  170.759995     94.800003
2023-03-02  3981.350098  20337.199219  588.119995  170.660004     94.410004
2023-03-03  4045.639893  20581.599609  595.849976  172.490005     95.169998
2023-03-06  4048.419922  20514.800781  594.239990  171.619995     95.000000
2023-03-07  3986.370117  20275.500000  582.010010  168.619995     95.010002
...                 ...           ...         ...         ...           ...
2024-03-22  5234.180176  21984.099609  574.440002  200.350006     94.500000
2024-03-25  5218.189941  21942.300781  579.760010  200.990005     94.250000
2024-03-26  5203.580078  21912.500000  575.570007  201.639999     94.389999
2024-03-27  5248.490234  22107.099609  573.890015  203.100006     94.750000
2024-03-28  5254.350098  22167.000000  582.479980  205.720001     94.660004

[272 rows x 5 columns]

In [78]:
# calculate return
rets=data_total.pct_change()

In [79]:
rets.head()

               sp500       tsx      gsci      gold  us_10y_tbond
Date
2023-03-01       NaN       NaN       NaN       NaN           NaN
2023-03-02  0.007582  0.003820  0.000425 -0.000586     -0.004114
2023-03-03  0.016148  0.012017  0.013144  0.010723      0.008050
2023-03-06  0.000687 -0.003246 -0.002702 -0.005044     -0.001786
2023-03-07 -0.015327 -0.011665 -0.020581 -0.017480      0.000105

In [178]:
#calculate daily rate of return
return_daily_mean=((1+rets).prod())**(1/rets.shape[0])-1

In [179]:
return_daily_mean

sp500           0.001048
tsx             0.000331
gsci           -0.000034
gold            0.000685
us_10y_tbond   -0.000005
dtype: float64

In [180]:
return_daily_mean=pd.DataFrame(return_daily_mean)

In [182]:
return_daily_mean.rename(columns={0: "daily_return"}, inplace=True)

In [183]:
return_daily_mean

              daily_return
sp500             0.001048
tsx               0.000331
gsci             -0.000034
gold              0.000685
us_10y_tbond     -0.000005

In [161]:
# calculate variance

daily_var=rets.var()

In [162]:
# calculate std
#annual_std=rets.std()*np.sqrt(252)
daily_std=rets.std()

In [163]:
daily_std=pd.DataFrame(annual_std)

In [164]:
daily_std.rename(columns={0: "std"}, inplace=True)

In [158]:
daily_std

                   std
sp500         0.007648
tsx           0.007184
gsci          0.011369
gold          0.008038
us_10y_tbond  0.005600

The economic outlook in US is much better compare to the sluggish market in Canada, this conclusion is drawn from labour market, equity market, real estate data, GDP and CPI data. The US market has higher depth in consumer the negative impact on rate hike compared to Canada, economic is able to maintain resistency in high interest rate environment. And Given the money tary policy, and the dependency of two counties o oil price, it is estimated that USD currency to appreciate compared to CAD. Based on the analysis and prospect above, I would allocate 20% to Canada EQ market, 50% to US market, 10% to S&P GSCI Index, 10% to GOLD and 10% to US T-bond.

In [188]:
all=pd.DataFrame({'asset_class':['sp500','tsx','gsci','gold','us_10y_tbond'],'weight':[0.5,0.2,0.1,0.1,0.1]})

In [189]:
all.set_index(['asset_class'],inplace=True)

In [190]:
all['std']=daily_std['std']
all['daily_return']=return_daily_mean['daily_return']

In [242]:
all

              weight       std  daily_return
asset_class
sp500            0.5  0.007648      0.001048
tsx              0.2  0.007184      0.000331
gsci             0.1  0.011369     -0.000034
gold             0.1  0.008038      0.000685
us_10y_tbond     0.1  0.005600     -0.000005

In [224]:
# Calculate total portfolio volatity
def vol(matrix):
    s=0
    n=matrix.shape[0]
    for i in range(n):
        w_i = matrix.iloc[i][0]
        vol_i = matrix.iloc[i][1]
        for j in range(n):
            w_j = matrix.iloc[j][0]
            vol_j = matrix.iloc[j][1]
            s=s+ w_i*w_j*vol_i*vol_j
            vol_total=np.sqrt(s)
    return vol_total

In [225]:
vol_total=vol(all)
vol_total

0.00776125191609169

In [196]:
# Calculate total expected return
return_total=sum(all['weight']*all['daily_return'])

In [198]:
return_total

0.0006548843042388342

### Portoflio Total VaR

In [261]:
# Assumption: Using parametric method to calculate 1Day VaR at 99% confidence level.
VaR = abs(return_total -2.3263 * vol_total)
VaR

0.017400116028165262

### Incrementtal VaR

### Incremental VaR of SP500

In [227]:
excl_sp500 = all[1:]
excl_sp500

              weight       std  daily_return
asset_class
tsx              0.2  0.007184      0.000331
gsci             0.1  0.011369     -0.000034
gold             0.1  0.008038      0.000685
us_10y_tbond     0.1  0.005600     -0.000005

In [233]:
excl_sp500_vol = vol(excl_sp500)

In [234]:
excl_sp500_vol

0.0039373626320169065

In [229]:
excl_sp500_return = sum(excl_sp500['daily_return']*excl_sp500['weight'])

In [230]:
excl_sp500_return

0.0001307330428284681

In [264]:
excl_sp500_VaR = abs(excl_sp500_return -2.3263 *excl_sp500_vol)
excl_sp500_VaR

0.009028753648032461

In [265]:
sp500_incrmt_var = VaR- excl_sp500_VaR
sp500_incrmt_var

0.0083713623801328

### Incremental VaR of tsx

In [252]:
excl_tsx=all.iloc[[0,2,3,4]]
excl_tsx

              weight       std  daily_return
asset_class
sp500            0.5  0.007648      0.001048
gsci             0.1  0.011369     -0.000034
gold             0.1  0.008038      0.000685
us_10y_tbond     0.1  0.005600     -0.000005

In [254]:
excl_tsx_vol = vol(excl_tsx)
excl_tsx_vol

0.006324551753578226

In [255]:
excl_tsx_return = sum(excl_tsx['daily_return']*excl_tsx['weight'])
excl_tsx_return

0.0005887218697401054

In [263]:
excl_tsx_VaR = abs(excl_tsx_return -2.3263 *excl_tsx_vol)
excl_tsx_VaR

0.014124082874608921

In [269]:
tsx_incrmt_var = VaR- excl_tsx_VaR
tsx_incrmt_var

0.0032760331535563406

### Incremental VaR of gsci

In [257]:
excl_gsci=all.iloc[[0,1,3,4]]
excl_gsci

              weight       std  daily_return
asset_class
sp500            0.5  0.007648      0.001048
tsx              0.2  0.007184      0.000331
gold             0.1  0.008038      0.000685
us_10y_tbond     0.1  0.005600     -0.000005

In [267]:
excl_gsci_vol = vol(excl_gsci)
excl_gsci_vol 
excl_gsci_return = sum(excl_gsci['daily_return']*excl_gsci['weight'])
excl_gsci_return
excl_gsci_VaR = abs(excl_gsci_return -2.3263 *excl_gsci_vol)
excl_gsci_VaR

0.014752021799740967

In [270]:
gsci_incrmt_var = VaR- excl_gsci_VaR
gsci_incrmt_var

0.0026480942284242952

In [277]:
all

              weight       std  daily_return
asset_class
sp500            0.5  0.007648      0.001048
tsx              0.2  0.007184      0.000331
gsci             0.1  0.011369     -0.000034
gold             0.1  0.008038      0.000685
us_10y_tbond     0.1  0.005600     -0.000005

### Incremental VaR of gold

In [278]:
excl_gold=all.iloc[[0,1,2,4]]
excl_gold

excl_gold_vol = vol(excl_gold)
excl_gold_vol 
excl_gold_return = sum(excl_gold['daily_return']*excl_gold['weight'])
excl_gold_return
excl_gold_VaR = abs(excl_gold_return -2.3263 *excl_gold_vol)
excl_gold_VaR

gold_incrmt_var = VaR- excl_gold_VaR
gold_incrmt_var

0.0018014160361701122

### Incremental VaR of US 10Y Tbond

In [279]:
excl_ustb=all.iloc[[0,1,2,3]]
excl_ustb

excl_ustb_vol = vol(excl_ustb)
excl_ustb_vol 
excl_ustb_return = sum(excl_ustb['daily_return']*excl_ustb['weight'])
excl_ustb_return
excl_ustb_VaR = abs(excl_ustb_return -2.3263 *excl_ustb_vol)
excl_ustb_VaR

ustb_incrmt_var = VaR- excl_ustb_VaR
ustb_incrmt_var

0.001303210229881717

### 9.

Assumption is portfolio behavior pattern is the same for any time window, daily return and daily vol parameters remain the same the other time period calculation

For 10 Day VaR we just need to calculated expected 10 Day return, and 10 Day vol, 
10 Day return = 10 x return_total
10 Day vol = sqrt(10) x vol_total
Use the formula 10 Day return -z-score x 10 Day vol to arrive at 10Day VaR

For 100 Day VaR we just need to calculated expected 100 Day return, and 100 Day vol, 
100 Day return = 100 x return_total
100 Day vol = sqrt(100) x vol_total
Use the formula 10 Day return -z-score x 100 Day vol to arrive at 10Day VaR

## Section 5 - Quantitative Finance

### 11.

I would be willing to pat the stock price of underlying security to buy the call option. According to the BSM model, when vol is infinity, d1 is approximating inifinity, so N(d1) is almost 1, and d2 is approximating negative inifinty, so N(d2) is extremely small, almost close to 0. So the call option price is very close to stock price.

### 12.

According to the calculation above, the vol of SP500 is around 0.121405

### 13.

According to formular Credit Spread = [1- Recovery Rate] x [Default Probability ] , probability of default is 0.5% / (1-50%) = 0.25%.

### 14.

Delta of put of option would would increase and approaching 0 from -1 if underlying security price increases. 

Depend on the strategies, put option has various purpose in a portfolio. For example in a protective put strategy, put option provide hedging effect and protects portfolio from downside risk; in a bear spread strategy, put option helps increase profit and minimize loss in a bearish market. Bear spread strategy is a good approach to reduce premium cost while sticking to the purpose as it has two legs, one leg long a put option iwth higher strike price, it plays the role of hedging/protecting; the other leg is short another put with same maturity date but lower strike price, it helps earn premium and reduce hedging cost.

### 15.

This estimate doesn't make sense. Essentially it's a re-llocation of same amount of exposure from credit bond exposure to equity exposure. To estimate the impact on VaR, I would use parametric VaR method as a proxy. Given exposure is the same, usually equity volatility is much higher than that of credit bond exposure, I would expect totsal portfolio VaR would increase after switching. To validate the result, we can check volatility of risk factors concerned here, such as EQ index vol surface, credit regressor curves vol, credit spread vol, IR curve vol, etc.